body {
    background-color: #f7edf7;
}

/*----------header----------*/

header {background-color: #bdbdbd;
        
}


ul li a {
  font-family: 'Lato', sans-serif;  
  color:#595aac;  
  font-size: 1em;
  
}

a:hover {color:#e62e6c;
        text-decoration: underline;
                       
}

a:active {color:#e62e6c;}

a.middle {
    position: relative;
}

a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 9px;
  left: 0;
  background-color: #e62e6c;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}

a.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.topnav {
    text-align: center;
}

.header-logo { padding: 20px 50px 0;
}

.header-logo-labbs {padding: 10px 0 50px;
}

.navbar {margin-top: 0px;}

.header-text {color: #e62e6c;
              padding: 20px 25px 0px 25px;
              font-family: 'Lato', sans-serif;
            
              }

.belles-text {color: #e62e6c;
              font-family: 'Dancing Script', cursive;
              font-weight: 700;
              font-size: 2em;
}

.belles-sub-text {font-size: 1.2em;
                  margin-bottom: 0px;
                }

/*----------footer----------*/

footer {background-color: #bdbdbd;
        
}

.belles-footer-text {  color: #e62e6c;
                       font-family: 'Dancing Script', cursive;
                       font-weight: 700;
                       font-size: 1.2em;
                       margin-top: 10px;
  }

.footer-nav { 
              font-size: 0.8em;

}

.footer-logo {padding: 5px 50px 0;
}

.social-links {padding-bottom: 10px;}

.contact-link {color: #e62e6c;
}

.main-image {padding-top: 15px;}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.title-text {color: #e62e6c;
            font-family: 'Dancing Script', cursive;
            font-weight: 700;
            font-size: 3em;
           
            margin-top: 15px;
            margin-bottom: 15px;}

/*----------who are the belles page----------*/

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  align: center;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  
}

.timeline-year {color: #e62e6c;
                font-family: 'Lato', sans-serif;
                font-weight: 700;

                }


/*----------contact page----------*/

.contact-text {font-family: 'Lato', sans-serif;
               font-size: 18px;
               text-align: center;
               margin-top: 30px; 
               margin-bottom: 20px;
}

.top-image {text-align: center;
                margin-top: 10px;
                              
}

iframe {margin-bottom:50px;
        margin-top: 50px;
        margin-left: 110px;
             
}

.contact-form {border: #626567 ;
               width: 80%; 
               border-style: solid;
               border-width: 2px;
               border-radius: 2px;
               background-color: #FBFCFC;
               padding: 50px;
                }

.form-name {
  float: left;
  width: 35%;
  margin-top: 6px;
}

.form-text-box {
  float: left;
  width: 65%;
  margin-top: 4px;
              
}

.submit-button {border: #626567;
                border-width: 2px;
               border-radius: 2px;
               }

.form-text {font-family: 'Lato', sans-serif;
            font-size: 18px;}

/*----------general----------*/

.title-text {color: #e62e6c;
                       font-family: 'Dancing Script', cursive;
                       font-weight: 700;
                       font-size: 3em;}

.responsive-image {width: 30%;
                   height: auto;}

/*----------what is barbershop page----------*/

.barbershop-accordian {border: #626567;
                       margin-top: 50px;
                       margin-left: 25px;
                       margin-bottom:25px;}

.barbershop-text {font-family: 'Lato', sans-serif;
                    text-align: center;
               margin-top: 20px;
               margin-left: 15px;}

.barbershop-text-header {margin-top: 50px;}





 /*----------gallery----------*/

 .gallery {margin-left: 35px;
           margin-right: 35px;
           margin-top: 35px;
           margin-bottom: 25px;}

.gallery-image {width: 100%;
                margin-bottom: 25px;}

.zoom:hover {transform: scale(1.2);
                 transition: transform .3s; }

 /*----------gallery media queries----------*/

@media screen and (max-width: 1393px){

 .gallery {column-count: 3;
        }

}

@media screen and (max-width: 992px){

.gallery {column-count: 2;
        }
}

@media screen and (max-width: 576px){

.gallery {column-count: 1;
        }
}